:root {
  --clr-bg: #fff;
  --clr-linear: linear-gradient(to right, #000000, #1c2734);

  --clr-logo: #fd8301;
  --clr-button: #0584fe;
  --clr-title: #1253a2;

  --clr-text-light: #8f8f8f;
  --clr-gray: #bcbcbc;

  --clr-hover: #1353a2;
}
